body {
    margin: 0;
}
main, section {
    display: flex;
    flex-direction: column;
}
section {
    height: 50vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 0vw 5vw;
    text-align: center;
}
.pink {
    background: #FF8577;
}
.dark {
    background: #0a0a0a;
    color: #fdfdfd;
}